---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Nosotros from '../components/Nosotros.astro';
import Ofrecemos from '../components/Ofrecemos.astro';
import Mision from '../components/Mision.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Header/>
	<main>
		<Nosotros/>
		<Ofrecemos/>
		<Mision/>
		<Contacto/>
	</main>
	<Footer/>
</Layout>
