---

---

<section class="c">
    <div>
        <div class="c-formulario">
            <span>
                CONTACTANOS
            </span>
            <form action="">
                <div>
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                    <input type="text" name="apellido" id="apellido" placeholder="Apellido" required>
                </div>
                <input type="email" name="correo" id="correo" placeholder="Correo Electronico" required>
                <textarea placeholder="Mensaje" name="message" rows="9" required=""></textarea>
                <button type="submit">ENVIAR MENSAJE</button>
            </form>
        </div>
        <div class="c-datos">
            <span class="c-datos-titulo">
                NUESTRO CORREO
            </span>
            <span>
                oficinacomercial@startplanet.com.pe
            </span>
            <br>
            <span class="c-datos-titulo">
                NUESTRO WHATSAPP
            </span>
            <span>
                +51 993977804
            </span>
        </div>
    </div>
</section>

<style>
    .c {

        & > div {
            display: flex;
            max-width: 1200px;
            margin: auto;
            padding: 130px 30px;
            box-sizing: border-box;
            gap: 50px;
        }
    }

    .c-formulario {
        display: flex;
        flex-direction: column;
        gap: 40px;

        & > span {
            color: #235066;
            font-size: 32px;
            font-weight: bold;
            line-height: 26px;
        }

        & form {
            display: flex;
            flex-direction: column;
            gap: 30px;

            & div {
                display: flex;
                gap: 35px;
            }

            & input[type="text"], input[type="email"], textarea {
                font-size: 15px;
                font-family: "Onest", sans-serif;
                min-width: 230px;
                border: none;
                background-color: #e2e2e2;
                padding: 15px 20px;
                outline: none;
                resize: none;
            }

            & button {
                color: #fff;
                width: fit-content;
                border: none;
                background-color: #338eaf;
                font-family: "Onest", sans-serif;
                font-weight: 500;
                padding: 14px 26px;
                cursor: pointer;
                outline: none;
            }
        }
    }

    .c-datos {
        display: flex;
        flex-direction: column;
        padding-top: 62px;
        gap: 8px;

        & span {
            font-size: 15px;
        }
    }

    .c-datos-titulo {
        font-size: 16px !important;
    }

   

    @media only screen and (max-width: 950px) {
        .c {
            & > div {
                flex-direction: column;
                gap: 80px;
            }
        }

        .c-formulario {
            & form {

                & input[type="text"], input[type="email"], textarea {
                    min-width: 0;
                    flex: 1;
                }
            }
        }

        .c-datos {
            padding-top: 40px;
        }
    }

    @media only screen and (max-width: 768px) {
        .c-formulario {
            & > span {
                font-size: 30px;
            }

            & form {
                & button {
                    font-size: 13px;
                }
            }
        }

        .c-datos {
            & span {
                font-size: 14px;
            }
        }

        .c-datos-titulo {
            font-size: 15px !important;
        }
    }

    @media only screen and (max-width: 500px) {
        .c-formulario {
            & > span {
                font-size: 28px;
            }
        }

        .c-datos-titulo {
            font-size: 14px !important;
        }
    }
</style>