---

---

<footer>
    <div>
        <div class="f-sec1">
            <div>
                <span>STAR PLANET</span>
                <span>A FUN WORLD </span>
            </div>
            <div>
                Empresa peruana dedicada a la innovación en máquinas de
                juego, combinando diseño exclusivo, calidad superior y alta
                rentabilidad.
            </div>
        </div>
        <div class="f-sec2">
            <div>
                <span>LINKS</span>
                <div>
                    <a href="#st-inicio" class="nav-link">Inicio</a>
                    <a href="#st-nosotros" class="nav-link">Nosotros</a>
                    <a href="#st-productos" class="nav-link">Productos</a>
                    <a href="#st-mision" class="nav-link">Mision</a>
                    <a href="#st-contacto" class="nav-link">Contacto</a>
                </div>
            </div>
            <div>
                <span>CONTACTO</span>
                <div>
                    <span>
                        oficinacomercial@startplanet.com.pe
                    </span>
                    <span>
                        +51 993977804
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <span>
            ©2025 Start Planet. Todos los derechos reservados.
        </span>
    </div>
</footer>

<style>
    footer {
        background-color: #000000;
    }

    footer > div:nth-child(1) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: auto;
        padding: 60px 30px;
        gap: 80px;
    }

    footer > div:nth-child(2) {
        text-align: center;
        padding: 30px;
        color: #838383;
    }

    .f-sec1 {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        gap: 20px;
    }

    .f-sec1 > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: fit-content;
    }

    .f-sec1 > div:nth-child(1) span {
        color: #ffffff;
    }

    .f-sec1 > div:nth-child(1) span:nth-child(1) {
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 24px;
    }

    .f-sec1 > div:nth-child(1) span:nth-child(2) {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2px;
    }

    .f-sec1 > div:nth-child(2) {
        line-height: 1.5;
        font-size: 15px;
        color: #838383;
    }

    .f-sec2 {
        display: flex;
        gap: 80px;
    }

    .f-sec2 > div {
        display: flex;
        flex-direction: column;
        margin-top: 19px;
        gap: 22px;
    }

    .f-sec2 > div > span {
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        width: fit-content;
    }

    .f-sec2 > div > div {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .f-sec2 > div > div a {
        color: #838383;
        font-size: 15px;
        text-decoration: none;
    }

    .f-sec2 > div > div span {
        color: #838383;
        font-size: 15px;
    }

    .f-sec2 > div > div span:nth-child(2) {
        font-size: 14px;
    }

    @media only screen and (max-width: 952px) {
        footer > div:nth-child(1) {
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }

        .f-sec1 {
            align-items: center;
        }

        .f-sec1 > div:nth-child(1) {
            align-items: center;
        }

        .f-sec1 > div:nth-child(2) {
            text-align: center;
        }
    }

    @media only screen and (max-width: 500px) {
        footer > div:nth-child(1) {
            gap: 60px;
        }

        footer > div:nth-child(2) {
            font-size: 12px;
        }

        .f-sec1 > div:nth-child(1) span:nth-child(1) {
            font-size: 24px;
        }

        .f-sec1 > div:nth-child(1) span:nth-child(2) {
            font-size: 8px;
        }

        .f-sec1 > div:nth-child(2) {
            font-size: 14px;
        }

        .f-sec2 {
            flex-direction: column;
            align-items: center;
            gap: 60px;
        }

        .f-sec2 > div {
            align-items: center;
        }

        .f-sec2 > div > span {
            font-size: 15px;
        }

        .f-sec2 > div > div {
            align-items: center;
        }

        .f-sec2 > div > div a {
            font-size: 14px;
        }

        .f-sec2 > div > div span {
            font-size: 14px;
        }

        .f-sec2 > div > div span:nth-child(2) {
            font-size: 13px;
        }
    }
</style>