---
import logo from '../../public/logo.png';
import fondo from '../assets/fondo/fondo.jpg';
import maquina from '../assets/fondo/maquina.png';
---

<header>
    <img src={fondo.src} alt="">
    <nav>
        <div>
            <div class="n-logo">
                <img src={logo.src} alt="logo">
                <div>
                    <span>STAR PLANET</span>
                    <span>A FUN WORLD</span>
                </div>
            </div>
            <div class="n-links">
                <a href="#">INICIO</a>
                <a href="#">NOSOTROS</a>
                <a href="#">OFRECEMOS</a>
                <a href="#">MISION</a>
                <a href="#">CONTACTO</a>
            </div>
        </div>
    </nav>
    <div class="h-contenido">
        <img src={maquina.src} alt="">
        <div>
            <span>
                LA MEJOR CALIDAD EN
                <br>
                MAQUINAS PELUCHERAS
            </span>
            <span>
                Somos líderes en la venta de máquinas pelucheras de alta calidad,
                diseñadas para brindar entretenimiento y rentabilidad. Descubre
                nuestras opciones y lleva la diversión a tu negocio.
            </span>
            <a href="#">SABER MAS</a>
        </div>
    </div>
</header>

<style>
    header {
        display: flex;
        flex-direction: column;
        position: relative;
        min-height: 580px;
        overflow: hidden;

        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(.3);
            position: absolute;
        }
    }
    
    nav {
        position: fixed;
        background-color: #fff;
        width: 100%;
        box-shadow: rgb(0 0 0 / 12%) 0px 2px 10px;
        z-index: 99;

        & > div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1200px;
            height: 80px;
            margin: auto;
            padding: 0px 30px;
            box-sizing: border-box;
        }
    }

    .n-logo {
        display: flex;
        align-items: center;
        gap: 12px;

        & > img {
            height: 48px;
        }

        & > div {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            & span {
                color: #000000;

                &:nth-child(1) {
                    font-size: 28px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    line-height: 24px;
                }

                &:nth-child(2) {
                    font-size: 12px;
                    font-weight: 600;
                    letter-spacing: 2px;
                }
            }
        }
    }

    .n-links {
        display: flex;
        align-items: center;
        gap: 35px;

        & > a {
            color: #777777;
            font-weight: 500;
            text-decoration: none;

            &:nth-child(5) {
                color: #fff;
                background-color: #338eaf;
                padding: 14px 25px;
                border-radius: 50px;
            }
        }
    }

    .h-contenido {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 0px 30px;
        padding-top: 80px;
        box-sizing: border-box;
        flex: 1;

        & > img {
            position: absolute;
            width: 470px;
            bottom: -130px;
            transform: translateX(675px);
        }

        & > div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 600px;
            gap: 25px;

            & span:nth-child(1) {
                color: #fff;
                font-size: 46px;
                font-weight: 900;
            }

            & span:nth-child(2) {
                color: #BEBEBE;
                font-size: 16px;
                line-height: 24px;
            }

            & a {
                color: #fff;
                background-color: #338eaf;
                font-weight: 500;
                text-decoration: none;
                padding: 14px 26px;
            }
        }
    }

    @media only screen and (max-width: 900px) {

        .n-links {
            display: none;
        }

        .h-contenido {

            & > img {
                display: none;
            }

            & > div {
                display: flex;
                align-items: center;
                width: 100%;
                gap: 30px;

                & span:nth-child(1) {
                    max-width: 600px;
                    text-align: center;
                }

                & span:nth-child(2) {
                    max-width: 600px;
                    text-align: center;
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .n-logo {
            & > img {
                height: 45px;
            }

            & > div {

                & span {

                    &:nth-child(1) {
                        font-size: 26px;
                    }

                    &:nth-child(2) {
                        font-size: 10px;
                    }
                }
            }
        }

        .h-contenido {
            & > div {

                & span:nth-child(1) {
                    font-size: 42px;
                }

                & span:nth-child(2) {
                    font-size: 15px;
                }

                & a {
                    font-size: 13px;
                }
            }
        }
    }

    @media only screen and (max-width: 650px) {
        .h-contenido {
            & > div {

                & span:nth-child(1) {
                    font-size: 32px;
                }
            }
        }
    }

    @media only screen and (max-width: 500px) {
        .n-logo {
            & > img {
                height: 42px;
            }

            & > div {

                & span {

                    &:nth-child(1) {
                        font-size: 24px;
                    }

                    &:nth-child(2) {
                        font-size: 8px;
                    }
                }
            }
        }

        .h-contenido {
            & > div {

                & span:nth-child(1) {
                    font-size: 26px;
                }
            }
        }
    }
</style>