---
import users from '../assets/iconos/users.png';
import security from '../assets/iconos/security.png';
import handshake from '../assets/iconos/handshake.svg';
---

<section class="m" id="st-mision">
    <div class="m-card">
        <span>
            NUESTRA MISION
        </span>
        <span>
            Transformar la industria del entretenimiento mediante el diseño, el desarrollo y comercialización 
            de máquinas de juego innovadoras, originales y de alta calidad. Nos comprometemos a ofrecer varias
            soluciones que impulsen la rentabilidad de nuestros clientes usando creatividad, tecnología 
            y producción especializada.
        </span>
        <span>
            Trabajamos con mano de obra altamente calificada y materiales de primera categoría, tanto 
            nacionales como importados para asi poder garantizar productos duraderos, atractivos y confiables 
            que generen experiencias únicas para los usuarios.
        </span>
        <br>
        <div class="m-card-desc">
            <img src={users.src} alt="Icono usuarios" width="22" height="22">
            <span>
                Enfocados en brindar soluciones que realmente aporten valor a nuestros clientes. Nuestro 
                objetivo es optimizar la rentabilidad de sus negocios en cada etapa del proceso.
            </span>
        </div>
        <div class="m-card-desc sp">
            <img src={security.src} alt="Icono seguridad" width="22" height="22">
            <span>
                Productos fabricados con materiales de primera calidad y ensamblados por profesionales 
                altamente calificados, implementando todos los estándares de seguridad.
            </span>
        </div>
        <div class="m-card-desc">
            <img src={handshake.src} alt="Icono negocio" width="22" height="22">
            <span>
                Brindamos un servicio integral, asegurando que cada máquina funcione de manera óptima
                proporcionando atención personalizada a nuestros clientes.
            </span>
        </div>
    </div>
    <div class="m-img"></div>
</section>

<style>
    .m {
        display: flex;
        max-width: 1200px;
        margin: auto;
        padding: 130px 30px;
        gap: 100px;
    }

    .m-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 486px;
        padding: 80px 0;
        gap: 25px;
    }

    .m-card > span {
        font-size: 15px;
        line-height: 1.5;
    }

    .m-card > span:nth-child(1) {
        color: #01345e;
        font-size: 36px;
        font-weight: bold;
        line-height: 28px;
    }

    .m-card-desc {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    
    .m-card-desc img {
        background-color: #016d9f;
        border-radius: 50%;
        padding: 10px;
    }

    .sp {
        margin: 15px 0;
    }

    .m-img {
        min-width: 300px;
        background-image: url(/assets/fondoMision.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 14px;
        flex: 1;
    }

    @media only screen and (max-width: 800px) {
        .m {
            flex-direction: column;
        }

        .m-card {
            max-width: none;
            padding: 0;
        }

        .m-img {
            min-width: auto;
            height: 500px;
            flex: none;
        }
    }

    @media only screen and (max-width: 500px) {
        .m {
            gap: 80px;
        }

        .m-card > span {
            font-size: 14px;
        }

        .m-card > span:nth-child(1) {
            font-size: 34px;
            line-height: 36px;
        }
        
        .m-card-desc span {
            font-size: 13px;
        }
    }
</style>