---
import fondo3 from '../assets/mision/fondo3.webp';
import fondo4 from '../assets/mision/fondo4.jpg';
---

<section class="m" id="st-mision">
    <div>
        <div class="m-card">
            <div class="m-card-desc">
                <span>
                    NUESTRA <strong>MISION</strong>
                </span>
                <span>
                    Somos una empresa peruana comprometida con la innovación en el diseño, producción y 
                    comercialización de máquinas de juego propias, destacándonos por su originalidad, 
                    versatilidad y calidad excepcional.
                </span>
                <span>
                    Ofrecemos soluciones diseñadas para optimizar la rentabilidad de su negocio, con una 
                    producción integral que involucra mano de obra altamente calificada y el uso de materia 
                    prima de primera calidad, tanto nacional como importada.
                </span>
            </div>
            <img src={fondo4.src} alt="mision fondo" class="m-img">
        </div>
    </div>
</section>

<style>
    .m {
        padding-top: 130px;

        & > div {
            background: #ffffff;
        }
    }

    .m-card {
        display: flex;
        max-width: 1200px;
        max-height: 430px;
        margin: auto;
        padding: 0px 30px;
        box-sizing: border-box;
        gap: 50px;
    }

    .m-card-desc {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        padding: 60px 0px;
        gap: 30px;

        & span {
            font-size: 15px;
            line-height: 24px;
        }

        & span:nth-child(1) {
            color: #235066;
            font-size: 32px;
            line-height: 26px;
        }
    }

    .m-img {
        min-width: 200px;
        object-fit: cover;
        flex: 1;
    }

    @media only screen and (max-width: 768px) {
        .m-card-desc {
            & span {
                font-size: 14px;
            }

            & span:nth-child(1) {
                font-size: 30px;
            }
        }
    }

    @media only screen and (max-width: 680px) {
        .m-card {
            display: flex;
            flex-direction: column;
            max-height: none;
            padding: 0px;
            gap: 0;
        }

        .m-card-desc {
            max-width: none;
            padding: 60px 30px;
            gap: 30px;
        }

        .m-img {
            height: 300px;
            flex: none;
        }
    }

    @media only screen and (max-width: 500px) {
        .m-card-desc {
            & span:nth-child(1) {
                font-size: 28px;
            }
        }
    }
</style>