---
import fondo3 from '../assets/mision/fondo3.webp';
---

<section class="m">
    <div>
        <div class="m-desc">
            <span>
                NUESTRA <strong>MISION</strong>
            </span>
            <span>
                Somos una empresa peruana comprometida con la innovación en el diseño, producción y 
                comercialización de máquinas de juego propias, destacándonos por su originalidad, 
                versatilidad y calidad excepcional.
            </span>
            <span>
                Ofrecemos soluciones diseñadas para optimizar la rentabilidad de su negocio, con una 
                producción integral que involucra mano de obra altamente calificada y el uso de materia 
                prima de primera calidad, tanto nacional como importada.
            </span>
        </div>
        <img src={fondo3.src} alt="mision fondo" class="m-img">
    </div>
</section>

<style>
    .m {
        background-color: #fff;

        & > div {
            display: flex;
            max-width: 1200px;
            margin: auto;
            padding: 0px 30px;
            box-sizing: border-box;
            gap: 50px;
        }
    }

    .m-desc {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        padding: 60px 0px;
        gap: 30px;

        & span {
            font-size: 15px;
            line-height: 24px;
        }

        & span:nth-child(1) {
            color: #235066;
            font-size: 32px;
            line-height: 26px;
        }
    }

    .m-img {
        min-width: 360px;
        object-fit: cover;
    }
</style>