---
import fondo2 from '../assets/nosotros/fondo2.jpg';
import video from '../assets/nosotros/video-nosotros.mp4';
---

<section class="n" id="st-nosotros">
    <div>
        <div class="n-vid">
            <video width="420" height="240" controls>
                <source src={video} type="video/mp4">
                Tu navegador no soporta el formato de video
            </video>
        </div>
        <div class="n-desc">
            <span>
                SOBRE NOSOTROS
            </span>
            <span>
                Somos una empresa peruana comprometida con la innovación en el diseño, 
                producción y comercialización de máquinas de juego propias, destacándonos por 
                su originalidad, versatilidad y calidad excepcional.
            </span>
            <span>
                Ofrecemos soluciones diseñadas para optimizar la rentabilidad de su negocio, con
                una producción integral que involucra mano de obra altamente calificada y el uso
                de materia prima de primera calidad, tanto nacional como importada. Nuestro
                enfoque nos permite garantizar productos con precios competitivos, un diseño
                exclusivo que marca la diferencia y una calidad que satisface las más altas
                exigencias del mercado.
            </span>
        </div>
    </div>
</section>

<style>
    .n {
        background-color: #f1f1f1;
    }

    .n > div {
        display: flex;
        max-width: 1200px;
        margin: auto;
        padding: 130px 30px;
        gap: 100px;
    }

    .n-vid {
        position: relative;
        min-width: 221px;
        flex: 1;
    }
    
    .n-vid video {
        position: absolute;
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(1, 13, 22, 1) 13%, rgba(2, 21, 35, 1) 27%, rgba(7, 64, 106, 1) 100%);
        width: 100%;
        height: 100%;
        border-radius: 14px;
        z-index: 4;
    }

    .n-desc {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 600px;
        padding: 60px 0px;
        gap: 25px;
    }

    .n-desc span:nth-child(1) {
        color: #01345e;
        font-size: 36px;
        font-weight: bold;
        line-height: 28px;
    }

    .n-desc span {
        font-size: 15px;
        line-height: 1.5;
    }

    @media only screen and (max-width: 810px) {
        .n > div {
            flex-direction: column-reverse;
            gap: 100px;
        }

        .n-vid {
            min-width: auto;
            height: 450px;
            flex: none;
        }

        .n-desc {
            max-width: none;
            padding: 0px;
        }
    }

    @media only screen and (max-width: 500px) {
        .n > div {
            flex-direction: column-reverse;
            gap: 50px;
        }

        .n-vid {
            min-width: auto;
            height: 450px;
            flex: none;
        }

        .n-desc span:nth-child(1) {
            font-size: 34px;
            line-height: 36px;
            text-align: center;
        }

        .n-desc span {
            font-size: 14px;
            text-align: center;
        }
    }
</style>