---
import logo from '../../public/logo.png';
import './src/styles/global.css';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={logo.src} />
		<link rel="preload" href="/fonts/Onest-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous">
		<link rel="preload" href="/fonts/Onest-Medium.ttf" as="font" type="font/ttf" crossorigin="anonymous">
		<link rel="preload" href="/fonts/Onest-SemiBold.ttf" as="font" type="font/ttf" crossorigin="anonymous">
		<link rel="preload" href="/fonts/Onest-Bold.ttf" as="font" type="font/ttf" crossorigin="anonymous">
		<link rel="preload" href="/fonts/Poppins-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous">
		<link rel="preload" href="/fonts/Poppins-Medium.ttf" as="font" type="font/ttf" crossorigin="anonymous">
		<link rel="preload" href="/fonts/Poppins-SemiBold.ttf" as="font" type="font/ttf" crossorigin="anonymous">
		<meta name="generator" content={Astro.generator} />
		<title>Star Planet | Maquinas de calidad</title>
	</head>
	<body>
		<slot />
	</body>
</html>